body { 
  background-image: url("aaa.jpg")  !important;
  background-repeat: repeat  !important;
  font: 14px Ubuntu, sans-serif;
  color: white !important;
}

html,body { height:100%; padding:0; margin:0; }

.bg-Green { 
  background-color: #1abc9c !important;
}

.panel-default {
  border-color: #fdfcfc !important;
}

.panel {
  background-color: #0b0b0b54 !important;
  border: 2px solid transparent !important;
}

.panel-heading {
  background-color: #442b2ba0 !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive {
    width: 100%;
    height: auto;
}

.pad_top_bot { 
  padding-top: 10px !important;
  padding-bottom: 23px !important;
}

.textder { text-align: right !important; }
.textcent { text-align: center !important; }

h1 {  font-size: 28px !important;  }
h2 {  font-size: 24px !important;  }
h3 {  font-size: 20px !important;  }
h4 {  font-size: 18px !important;  }

.fonsi46  {  font-size: 46px !important;  }
.fonsi36  {  font-size: 36px !important;  }
.fonsi26  {  font-size: 26px !important;  }
.fonsi23  {  font-size: 23px !important;  }
.fonsi20  {  font-size: 20px !important;  }
.fonsi18  {  font-size: 18px !important;  }
.fonsi16  {  font-size: 16px !important;  }
.fonsi15  {  font-size: 15px !important;  }
.fonsi14  {  font-size: 14px !important;  }
.fonsi13  {  font-size: 13px !important;  }
.fonsi12  {  font-size: 12px !important;  }
.fonsi11  {  font-size: 11px !important;  }
.fonsi10  {  font-size: 10px !important;  }

.fontwe4 {  font-weight: 400;  }

.newscont { max-width: 300px !important;  }

.carousel-indicators li {
  width: 13px !important;
  height: 13px !important;
  border: 2px solid #1abc9c !important;
  border-radius: 13px !important;
}

.carousel-indicators .active {
    background-color: #1abc9c !important;
}

a .icon-prev, a .icon-next {
    color: grey !important;
    font-size: 80px !important;
    font-weight: 400 !important;
    text-shadow: 0px 0px 11px rgba(42, 150, 68, 1);
}

.carousel-caption {
    position: absolute !important;
    top: -6% !important;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: black !important;
    font-size: 18px !important;
}

.navbar-header a, .nav > li > a {
    color: #a8a8ac !important;
    border-bottom: 2px solid #0b0a0a !important;
}

.navbar-header a:hover, .nav > li > a:hover, .nav.navbar-nav > li.active a:hover {
    color: white !important;
    background-color: #7777776b !important;
    border-bottom: 2px solid white !important;    
}

.nav.navbar-nav > li.active a {
    background-color: #c1c4c187 !important;
    border-bottom: 2px solid #c1c4c187 !important;       
    color: white !important;
}

a:hover {
    color: #bfb9b9 !important;
}

.padtopbo150 { padding-top: 150px !important; padding-bottom: 150px !important; }
.padtopbo100 { padding-top: 100px !important; padding-bottom: 100px !important; }
.padtopbo80 { padding-top: 80px !important; padding-bottom: 80px !important; }
.padtopbo50 { padding-top: 50px !important; padding-bottom: 50px !important; }
.padtopbo30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.padtopbo10 { padding-top: 10px !important; padding-bottom: 10px !important; }

.martopbo150 { margin-top: 150px !important; margin-bottom: 150px !important; }
.martopbo100 { margin-top: 100px !important; margin-bottom: 100px !important; }
.martopbo70 { margin-top: 70px !important; margin-bottom: 70px !important; }
.martopbo50 { margin-top: 50px !important; margin-bottom: 50px !important; }
.martopbo30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.martopbo10 { margin-top: 10px !important; margin-bottom: 10px !important; }

.mar4 { margin: 4px !important; }
.mar10 { margin: 10px !important; }
.mar20 { margin: 20px !important; }
.mar30 { margin: 30px !important; }
.mar40 { margin: 40px !important; }
.mar50 { margin: 50px !important; }
.mar60 { margin: 60px !important; }
.mar70 { margin: 70px !important; }

.pad4 { padding: 4px !important; }
.pad6 { padding: 6px !important; }
.pad10 { padding: 10px !important; }
.pad20 { padding: 20px !important; }
.pad30 { padding: 30px !important; }
.pad40 { padding: 40px !important; }
.pad60 { padding: 60px !important; }
.pad80 { padding: 80px !important; }
.pad110 { padding: 110px !important; }

.fonbla { color: white !important; }
.fuengrisoscu { color: rgb(20, 20, 20) !important; }

.bgblack { background-color: black !important; }
.bgwi { background-color: white !important; }

.bgblacktrans { 
    background-color: #777777c2 !important;
    border-radius: .25em !important;
}

.textshadow { 
  text-shadow:  2px 2px 0px #000;
}

a {
    color: #07f068 !important;
}
